@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

body {
    max-width: 1900px;
    margin: 0 auto;
    min-height: 100vh;

    & > * {
        padding: 0 6.5vw;
    }
}

button {
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    border: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}